Skip to content
This repository
Search
Pull requests
Issues
Gist
 @isaac-mikel
 Unwatch 1
  Unstar 1
  Fork 0 isaac-mikel/isaac-mikel.github.io
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathisaac-mikel.github.io/main.css
417e4c6  7 days ago
@isaac-mikel isaac-mikel initial commit
1 contributor
RawBlameHistory     508 lines (431 sloc)  8.59 KB
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700);

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after, *.before {
-moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, main, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, page, post,
ruby, section, summary, time, mark, audio, video {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
nav, section, summary, main, page, post {
    display: block;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
/*html {
    background: url(images/topwrappingpaper.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat-x;
}*/
.left-hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

body {
    line-height: 1;
    min-width: 0px;
}

ol, ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

input, textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

button, input[type="button"] {
    background: 0;
}

:required {
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

pre, code {
    font-family: Monaco, Courier, monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

blockquote, q {
    quotes: "" "";
}

blockquote:before, blockquote:after {
    content: "";
}

q:before, q:after {
    content: "";
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
}

button, label[for] {
    cursor: pointer;
}

img {
    -ms-interpolation-mode: bicubic;
}

::-moz-selection {
    background: #66676c;
    color: #fafafa;
}

::selection {
    background: #66676c;
    color: #fafafa;
}

html {
    font-size: 10px;
    font-family: "adelle", Monaco, Consolas, "Lucida Console", monospace;
    background-color: #fff;

}

body {
    font-size: 100%;
    height: 100%;
    color: #1b1b1b;
    -webkit-transition: color 500ms, background-color 500ms;
    transition: color 500ms, background-color 500ms;
}

p {
    line-height: 1.6;
}

page {
    padding: 10rem 10rem 1rem 10rem;
    font: 1.6rem/1.2em "karla", Helvetica, Consolas, "Lucida Console", monospace;
    overflow: hidden;
    font-weight: 400;
}

post {
    padding: 10rem 10rem 1rem 10rem;
    font: 1.6rem/1.2em "karla", Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 400;
}

h1 {
    font: "karla", Monaco, Consolas, "Lucida Console", monospace;
    color: #222223;
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font: "karla";
    color: #66676c;
}
h3 {
    font: "karla";
    color: #222223;
}
a, a:visited, a:active {
    color: #222223;
    text-decoration: none;
    cursor: default;
}

a:hover {
    color: #000;
}

b {
    color: #66676c;
    display: inline-block;
    font-weight: normal;
    width: 13rem;
}

#back_button{
    display:inline-block;
    float: right;
    color: #66676c;
}

#fade {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.container{
    display: flex;
    flex-direction: row;
}

.left-item{
    flex:0 1 25%;
    min-width: 350px;
    padding-right: 20px;
}
.left-item-float{
    position:fixed;
}
.icon{
    display: flex;
    flex-direction: row;
}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 0.7em;
    margin-top: 0.7em;
}
.social {
    display: flex;
    flex-direction: colum;
    margin-bottom: .5em;
}
.right-item{
    /*this makes it a flex item of the parent container*/
    flex:0 1 75%;
    /*this makes it a container*/
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.thumbnail-item {
    overflow: hidden;
    padding: 0px 8px 4px 0px;
    flex: 0 1 100%;
 }
.largeimage{
    width:100%;
}
.thumbnail{
    width:100%;
    opacity:0.7;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: opacity .2s;
}

.thumbnail:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: opacity .2s;
}
.detail_footer {
    margin-top:2em;
    display: flex;
    flex-direction: row;
}
.detail_footer_item {
    margin-right: 6em;
    flex-direction: row;
    display: flex;
}
@media screen and (min-width:1300px) {
    .thumbnail-item {
        flex: 0 1 33%;
    }
    .thumbnail {
        width: 100%;
    }
}
@media screen and (min-width:1050px) and (max-width:1300px) {
    .right-item{
        flex:0 1 100%;
    }
    .thumbnail-item {
        flex: 0 1 50%;
    }
     .thumbnail {
        width: 100%;
    }
}
@media screen and (min-width:900px) and (max-width:1050px) {
     .right-item{
        flex:0 1 100%;
    }
    .thumbnail-item {
        flex: 0 1 100%;
    }
     .thumbnail {
        width: 100%;
    }
    .detail_footer {
        flex-direction: column;
    }
    .detail_footer_item {
        flex-direction: column;
        margin-bottom:1.3em;
    }
}
@media screen and (min-width:600px) and (max-width:899px) {
    .container{
        flex-direction: column;
    }
    .left-item{
        min-width: 300px;
    }
    .left-item-float{
        position:relative;
    }
    .thumbnail-item {
        flex: 0 1 50%;
        padding: 0px 11px 8px 0px;
    }
     .thumbnail {
        width: 100%;
    }
    main, post, page {
        padding: 3rem;
    }
    b {
        display: block
    }
    footer, footer, page  {
        left: 5rem;
        position: static;
    }
    .social-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social{
        flex-direction:column;
        margin-right:1em;
        margin-bottom:1em;
    }
    .detail_footer_item {
        flex-direction: column;
    }
}
@media screen and (min-width:0px) and (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .left-item-float{
        position:relative;
    }
    .thumbnail-item {
        flex: 0 1 100%;
        padding-bottom: 2em;
    }
     .thumbnail {
        width: 100%;
    }

    main, post, page {
        padding: 3rem;
    }
    b {
        display: block
    }
    footer, footer.page  {
        left: 5rem;
        position: static;
    }
    .detail_footer {
        flex-direction: column;
    }
    .detail_footer_item {
        flex-direction: column;
        margin-bottom:1.3em;
    }
}

input {
    padding: 0.5rem;
    font: 1.6rem/1.2em "karla", Helvetica, Consolas, "Lucida Console", monospace;
    color: rgb(128, 128, 128);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
}

input:focus {
    border: 1px solid rgb(128, 128, 128);
    outline: none;
}

.footer {
    height: 3em;
    position: relative;
}

Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
