    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        background-color: #2f2f2f;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #161616 !important;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow: overlay;
    }

    /* Custom Scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 20px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background:linear-gradient(180deg, rgba(132,219,137,1) 0%, rgba(194,224,136,1) 57%);
        border-radius: 10px;
        border:2px solid black;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        transition: 1s;
        background:linear-gradient(180deg, rgba(47,213,139,1) 70%, rgba(194,224,136,1) 100%);
    }

    /* Page break for flexbox items */
    .line-break {
        width: 100%;
    }

    ::selection {
        background: #4d4d4d;
    }

    /* TEXT STYLES  */

    h1 {
        font-family: 'Shrikhand', serif;
        font-size: 3em !important;
        color: #eeeeee;
        letter-spacing: .08em;
        margin: 0;
        padding: 0;
        line-height: 1em;
        font-weight: 100 !important;
    }

    h2 {
        font-family: 'Nunito Sans', sans-serif;
        color: #fff;
        font-size: 1.75em !important;
        font-weight: 800 !important;
        letter-spacing: .5px;
        line-height: 1.2em;
        margin: .2em 0;
    }

    h3 {
        font-family: 'Nunito Sans', sans-serif;
        color: #c2e088;
        font-size: 1.5em !important;
        font-weight: 700 !important;
        line-height: 1em;
        text-decoration: none !important;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-family: 'Nunito Sans', sans-serif;
        color: #eeeeee;
        font-size: 1.35em !important;
        font-weight: 500 !important;
        line-height: 1.2em;
        text-decoration: none !important;
        padding: 0;
        margin: 10px 0;
    }

    p {
        color: #eeeeee;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1em;
        line-height: 2em;
        margin: 0px !important;
    }

    .caption {
        color: #eeeeee;
        font-family: 'Nunito Sans', sans-serif;
        font-size: .9em;
        line-height: 2em;
        font-weight: 600;
        color: #666666;
        background-color: #1f1f1f;
        border: black 1px solid;
        border-radius: 100px;
        padding: .5em 1em;
        text-align: center;
        margin: 0;
        display: block;
    }

    ul {
        list-style: none;
        margin: 00;
        padding: 0 auto;
    }

    li {
        color: #c2e088;
        font-family: 'Nunito Sans', sans-serif;
        font-style: italic;
        font-size: 1em;
        line-height: 2em;
        margin: 0px !important;
        list-style: none;
        position: relative;
        padding: 0 0 0 2.25em;
    }

    li::before {
        content: "";
        background-image: url(/images/bullet-leaf.svg);
        transform: scaleX(-1);
        position: absolute;
        left: 0;
        top: 0;
        width: 2em;
        height: 2em;
        background-size: contain;
    }

    small {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600 !important;
        color: #4d4d4d;
        font-family: 'Nunito Sans';
    }

    a {
        color: #eeeeee;
        text-decoration: none !important;

    }

    a:hover {
        color: #2fd58b !important;
        text-decoration: none !important;
    }

    a:visited {
        text-decoration: none;
        color: #eeeeee;
    }

    .logos-link {
        color: white !important;
    }

    .logos-link:hover {
        color: #b18ee8 !important;
    }

    .video-link {
        color: #eeeeee !important;
    }

    .video-link:hover {
        color: #74e2cf !important;
    }

    .illustration-link {
        color: #eeeeee !important;
    }

    .illustration-link:hover {
        color: #e07a75 !important;
    }

    .body-link {
        color: #eeeeee !important;
    }

    .body-link:hover {
        color: lightgray !important;
    }

    /* WHOLE PAGE CONTAINER */

    .flex-big-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    /* HEAD BANNER CONTAINER */

    .flex-head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        position: relative;
        z-index: 1;
        padding: 0% 2%;
        top: -50px;
        background-color: #1f1f1f;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: -30px;
        /* Bottom Curve Shape */
        -webkit-clip-path: ellipse(80% 50%);
        clip-path: ellipse(80% 50%);
    }

    #logo-sprite {
        height: 186px;
        width: 350px;
        background: url(/images/logo-sprite.png) 0px 0px;
        background-size: 12950px;
    }

    #logo-sprite:hover {
        animation: logo-sprite 2s steps(37) infinite;
    }

    @keyframes logo-sprite {
        100% {
            background-position: -12950px;
        }
    }

    #home-video-1 {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
        filter:blur(3px)
    }

    /* .flex-head-index {
        background-image: url(/), linear-gradient(90deg, rgba(47, 213, 139, 1) 0%, rgba(194, 224, 136, 1) 100%);
        background-image: linear-gradient(90deg, rgba(177, 142, 232, 1) 0%, rgba(206, 154, 244, 1) 100%);
    }

   
    
    .flex-head-video {
        background-image: url(/), linear-gradient(90deg, rgba(116, 226, 207, 1) 0%, rgba(143, 235, 242, 1) 100%);
    }
    
    .flex-head-illustration {
        background-image: url(/), linear-gradient(90deg, rgba(224, 122, 117, 1) 0%, rgba(239, 172, 143, 1) 100%);
    } */
    */ @keyframes marquee {
        0% {
            background-position: 0;
        }

        100% {
            background-position: -1190px;
        }
    }

    @keyframes logo-sprite-animation {
        to {
            background-position: -1000px
        }
    }

    #logo-container {
        height: 200px;
        width: 200px;
        background: url(/images/logo-sprite.png);
        animation: logo-sprite-animation 1.5s steps(6) infinite;
        transform: translate(-25%, -25%) scale(0.5);
    }

    /* LEFT SIDE + RIGHT SIDE CONTAINER */

    .flex-content {
        display: flex;
        flex-flow: column;
    }

    /* LEFT SIDE CONTAINER / MENU / WIDGETS */

    #hamburger {
        width: 55px;
        margin: auto;
        display: block;
        transition: .3s ease-in-out;
        position: absolute;
        top:270px;
        right: 0;
        left:0;
        z-index: 2;
    }

    #hamburger:hover {
        filter: brightness(50%);
    }

    #menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top:10px;
    }

    .menu-item {
        width: 100%;
        text-align: center;
        padding:.4em 0;
        border-bottom:2px solid #1f1f1f;
        font-size: 1.5em;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        background-size: 250% auto;
        background-image: -webkit-linear-gradient(left, #2fd58b 0%, #2fd58b 40%, #c2e088 70%, #c2e088 100%);
        transition: 300ms ease-in-out;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .menu-item:hover {
        background-position: right;
    }

    /* Hover Icons */


    /* RIGHT SIDE CONTAINER / CONTENT */

    .content-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-flow: column;
    }

    #content-container {
    }

    #label-logos p {
        background-color: #efb75e;
        padding: 0 10px;
        color: #161616;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8em;
        border-radius: 3px;
        width: fit-content;
    }

    #label-illustration p {
        background-color: #7699dd;
        padding: 0 10px;
        color: #161616;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8em;
        border-radius: 3px;
        width: fit-content;
    }

    #label-motion p {
        background-color: #e07a75;
        padding: 0 10px;
        color: #161616;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8em;
        border-radius: 3px;
        width: fit-content;
    }

    #label-web p {
        background-color: #c65d7e;
        padding: 0 10px;
        color: #161616;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8em;
        border-radius: 3px;
        width: fit-content;
    }

    #label-ad p {
        background-color: #6b75d6;
        padding: 0 10px;
        color: #161616;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8em;
        border-radius: 3px;
        width: fit-content;
    }

    #label-fun p {
        background-color: #5ecbb8;
        padding: 0 10px;
        color: #161616;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8em;
        border-radius: 3px;
        width: fit-content;
    }

    .profile {
        border-radius: 50% 50% 50% 50% / 20% 20% 20% 20%;
        width: 300px;
        height: 300px;
        margin: 20px 10px;
        background-image: url(/images/profile2.png);
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        transition: 400ms ease;

    }

    .profile:hover {
        filter: brightness(.6);
        box-shadow: black 0 10px 40px;
    }


    .profile-container {
        width: 320px;
        height: 320px;
        position: relative;
        cursor: default;
        margin: auto;
        transition: 500ms;
    }

    #hello {
        display: block;
        width: 110px;
        height: 110px;
        border-radius: 60px;
        background-color: #2fd58b;
        border: 8px solid #eee;
        box-shadow: #161616 0 2px 20px;
        background-image: url(/images/hello.gif);
        background-size: 80px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: -44px;
        transition: 200ms ease;

    }

    .profile:hover+#hello {
        display: block;
        transform: scale(1.2);
        transition: 200ms ease;
        opacity: 1;
    }

    .bottom-nav {
        margin-top: 2em;
        padding: 1em 0 0em 0;
        background-color: #161616;
        box-shadow: 0px -45px 50px #0d0d0d;
    }

    .bottom-nav h2 {
        text-align: center;
        margin: .5em 0;
    }

    .link-container {
        display: flex;
        flex-flow: row wrap;
        padding: 0px 20px;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .link-container .nav-card {
        margin: 0;
        /* flex-basis: calc(33% - 10px); 5 or more cards*/
        flex-basis: 35%;
        padding: 10px 0px;
        margin: 2px;

    }

    .link-container .nav-card:hover {
        filter: brightness(1);
    }

    .link-container #nav-card-illustrations,
    .link-container #nav-card-logos,
    .link-container #nav-card-motion,
    .link-container #nav-card-web,
    .link-container #nav-card-ad,
    .link-container #nav-card-fun {
        background-position-x: left;
    }

    .link-container h3 {
        color: white;
        padding: 0 0 .5em 0;
        font-size: 1.1em !important;
    }

    .social-link {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #1f1f1f;
        border-radius: .5em;
        border: 1px solid #2f2f2f;
        height: 100%;
        padding: .5em;
        transition: 200ms ease-in-out;
        flex-basis: calc(50% - 10px);
    }

    .social-link:hover {
        transform: translate(0px, -10px);
        box-shadow: black 0 10px 0;
        filter: brightness(1.3);
    }

    .social-link h3 {
        transition: 100ms ease-in-out;
        font-size: 1em !important;
    }

    .social-link:hover h3 {
        color: white !important;
    }

    #email-link {
        background-image: url(/images/email-link.svg);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        margin-bottom: .5em;
        transition: 150ms ease-in-out;
    }

    .social-link:hover #email-link {
        background-image: url(/images/email-link-hover.svg);
    }

    #linkedin-link {
        background-image: url(/images/linkedin-link.svg);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        margin-bottom: .5em;
        transition: 150ms ease-in-out;
    }

    .social-link:hover #linkedin-link {
        background-image: url(/images/linkedin-link-hover.svg);
    }

    #instagram-link {
        background-image: url(/images/instagram-link.svg);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        margin-bottom: .5em;
        transition: 150ms ease-in-out;
    }

    .social-link:hover #instagram-link {
        background-image: url(/images/instagram-link-hover.svg);
    }

    #twitter-link {
        background-image: url(/images/twitter-link.svg);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        margin-bottom: .5em;
        transition: 150ms ease-in-out;
    }

    .social-link:hover #twitter-link {
        background-image: url(/images/twitter-link-hover.svg);
    }


    .hero-image {
        background-color: #2f2f2f;
        width: 100%;
        height: 300px;
        position: relative;
        padding: 20px;
    }

    .hero-image h1,
    .hero-image h2 {
        margin: auto;
        display: block;
        width: 90%;
        position: absolute;
        bottom: 15px;
        vertical-align: center;
        text-shadow: 0 5px 30px black;
    }

    .breadcrumb {
        font-family: Nunito Sans, sans-serif;
        font-weight: 600;
        color: #666666 !important;
        text-decoration: none !important;
        margin: 0 20px 10px 20px;
        width: fit-content;
    }

    .breadcrumb:hover {
        color: #c9c9c9 !important;
    }


    .one-column {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 1.5em 20px;
        gap: 15px;
    }

    .one-column p {
        width: 100%;
    }

    .one-column video {
        width: 100%;
        height: 350px;
        background-color: #2f2f2f;
    }

    .two-column {
        display: flex;
        flex-flow: row wrap;
        padding: 1.5em 10px 0 10px;
        gap: 15px;
    }

    .two-column * {
        flex-basis: calc(50% - 8px);
    }

    .two-column p {
        margin: 1.5em 0 0 0 !important;
    }

    .zoom-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        background-image: url(/images/zoom-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: white 2px solid;
        transition: 200ms ease-in-out;
        filter: drop-shadow(2px 2px 3px black);
    }

    .img-hover {
        position: relative;
        width: 50%;
        border-radius: .5em;
        border: 1px solid #2f2f2f;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 10px 0 black;
        margin-bottom: 10px;
    }

    .img-hover:hover {
        filter: brightness(.8);
        transition: 200ms ease-in-out;
    }

    .img-hover:hover .zoom-icon {
        opacity: 1;
    }

    .img-full {
        position: relative;
        width: 100%;
        border-radius: 1.5em;
        border: 1px solid #000;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 10px 0 black;
        margin-bottom: 10px;
    }

    .img-full> img {
        width: 100%;
        border-radius: 1.5em;
    }

    .hero-idaho-helicopters {
        background-image: linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 0) 60%), url(/images/idaho-helicopters-hero.jpg);
        background-color: #fff;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hero-dqp {
        background-image: linear-gradient(0deg, rgba(31, 31, 31, .5) 0%, rgba(31, 31, 31, 0) 50%), url(/images/dqp-hero.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: #7699dd
    }

    .hero-liverez {
        background-image: linear-gradient(0deg, rgba(2, 67, 100, 0.6) 0%, rgba(2, 67, 100, 0) 80%), url(/images/liverez-hero.jpg);
        background-position: center;
        background-position-y: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #B1DFEC;
    }

    .hero-watchdog {
        background-image: linear-gradient(0deg, rgba(95, 95, 95, 1) 0%, rgba(83, 83, 83, 0) 80%), url(/images/watchdog-hero.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-lr-xmas {
        background-image: linear-gradient(0deg, rgb(61, 79, 107) 0%, rgba(87, 119, 150, 0) 80%), url(/images/lr-xmas-hero.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-lr-zoom {
        background-image: linear-gradient(0deg, #28354d 0%, #1f2f4400 80%), url(/images/hero-lr-zoom.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-reanimator {
        background-image: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(83, 83, 83, 0) 80%), url(/images/reanimator-hero.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-lr-animation {
        background-image: linear-gradient(0deg, #024465 0%, #02446500 100%), url(/images/lr-animation-hero.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-inktober {
        background-image: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgba(46, 46, 46, 0) 80%), url(/images/inktober.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-starbucks {
        background-image: linear-gradient(0deg, rgb(40, 72, 85) 0%, rgba(117, 162, 184, 0) 80%), url(/images/starbucks.jpg);
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-lr-icons {
        background-image: linear-gradient(0deg, #001018 0%, #00283b00 80%), url(/images/lr-icons.jpg);
        background-color: #024465;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hero-common-good {
        background-image: linear-gradient(0deg, #0e0e0e 0%, #0e0e0e00 80%), url(/images/hero-common-good.jpg);
        background-color: #eee;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-honey-maid {
        background-image: linear-gradient(0deg, #0e0e0e 0%, #0e0e0e00 80%), url(/images/hero-honey-maid.jpg);
        background-color: #eee;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-lr-testimonial {
        background-image: linear-gradient(0deg, #001018 0%, #00283b00 80%), url(/images/lr-testimonial-hero.jpg);
        background-color: #;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-lr-demo {
        background-image: linear-gradient(0deg, #464646 0%, #52525200 80%), url(/images/lr-demo-hero.jpg);
        background-color: #fff;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .resume-icon {
        width: 70px;
        height: 70px;
        background-image: url(/images/resume-icon.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(.95);
    }

    .resume-container {
        background: #1f1f1f;
        padding: 0;
        margin: 1em 10px;
        border: 1px solid #2f2f2f;
        border-radius: .5em;
    }

    .resume-container div:first-child {
        border-radius: .5em .5em 0 0;
    }

    .resume-container div:last-child {
        border-radius: 0 0 .5em .5em;
        align-items: center;
    }

    .table {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1em 0;
        border-top: 2px solid #2f2f2f;
        position: relative;
    }

    #arrow-down {
        width: 50px;
        height: 50px;
        background-color: #eee;
        transform: rotate(45deg);
        border-radius: 0;
        z-index: 1;
        position: absolute;
        bottom: -7px;
        left: 20px;
    }

    .download-table {
        background-color: #1f1f1f;
        transition: 100ms ease-in-out;
        justify-items: center;
        border-radius: 0 0 .5em .5em;
    }

    .download-table:hover {
        background-color: #2f2f2f;
        cursor: pointer;
    }

    .download-table:hover #download-icon {
        background-image: url(/images/download-icon-hover.svg);
    }

    .download-table p {
        color: #4d4d4d;
        transition: 100ms ease-in-out;
    }

    .download-table:hover p {
        color: #eee;
    }

    #download-icon {
        background-image: url(/images/download-icon.svg);
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 100ms ease-in-out;
        filter: brightness(2.2)
    }

    .table-cell {
        padding: 0 2em;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        width: 100%;
    }

    .nav-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 1.5em;
        background: #2f2f2f;
        padding: 20px;
        margin: 0px 20px 10px 20px;
        transition: 50ms ease-in-out;
        text-align: center;
        color: white;
        align-items: center;
    }

    .nav-card:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 0px black;
    }

    /* Color backgrounds for each category */
    #nav-card-illustrations:hover,
    #nav-card-logos:hover,
    #nav-card-motion:hover,
    #nav-card-web:hover,
    #nav-card-ad:hover,
    #nav-card-fun:hover {
        background-position-x: left;
    }

    /* Category gradient background size & position */
    #nav-card-illustrations,
    #nav-card-logos,
    #nav-card-motion,
    #nav-card-web,
    #nav-card-ad,
    #nav-card-fun {
        background-size: 400% auto;
        background-position-x: right;
        transition: 200ms;
    }

    #nav-card-illustrations {
        background-image: -webkit-linear-gradient(right, #2f2f2f 0%, #2f2f2f 25%, #6b75d6 75%, #7699dd 100%);
    }

    #nav-card-logos {
        background-image: -webkit-linear-gradient(right, #2f2f2f 0%, #2f2f2f 25%, #efb75e 95%, #f7d66d 100%);
    }

    #nav-card-motion {
        background-image: -webkit-linear-gradient(right, #2f2f2f 0%, #2f2f2f 25%, #e07a75 75%, #efab8f 100%);
    }

    #nav-card-web {
        background-image: -webkit-linear-gradient(right, #2f2f2f 0%, #2f2f2f 25%, #c65d7e 75%, #e27999 100%);
    }

    #nav-card-ad {
        background-image: -webkit-linear-gradient(right, #2f2f2f 0%, #2f2f2f 25%, #b18ee8 75%, #cf9af4 100%);
    }

    #nav-card-fun {
        background-image: -webkit-linear-gradient(right, #2f2f2f 0%, #2f2f2f 25%, #5ecbb8 85%, #8febf2 100%);
    }

    /* SVG Icon Animation */
    [id*="nav-icon"] {
        display: inline-flex;
        height: 100px;
        width: 100px;
        background-size: 200px;
    }

    #nav-icon-illustrations {
        background-image: url(/images/illustration-icon.svg);
    }

    #nav-icon-logos {
        background-image: url(/images/logos-icon.svg);
    }

    #nav-icon-motion {
        background-image: url(/images/motion-icon.svg);
    }

    #nav-icon-web {
        background-image: url(/images/product-icon.svg);
    }

    #nav-icon-ad {
        background-image: url(/images/ad-icon.svg);
    }

    #nav-icon-fun {
        background-image: url(/images/fun-stuff-icon.svg);
    }

    .nav-card:hover i {
        animation: nav-icon-motion .7s steps(2) infinite;
        transition: .2s ease-in-out;
    }

    @keyframes nav-icon-motion {
        from {
            background-position-x: 0px;
        }

        to {
            background-position-x: -200px;
        }
    }


    .button-default, .button-logos, .button-adv, .button-motion, .button-web, .button-illustrations {
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 500px;
        width: 100%;
        padding: 20px;
        margin: 20px 0px 20px 0px;
        text-align: center;
        color: white;
        align-items: center;
        transition: 300ms ease-in-out;
        background-size: 250% auto;
        border: none;
        cursor: pointer;
    }

    .button-default {
        background-image:-webkit-linear-gradient(left, #2fd58b 0%, #2fd58b 40%, #c2e088 70%, #c2e088 100%);
    }
    .button-logos {
        background-image:-webkit-linear-gradient(right,  #f7d66d 0%,#efb75e 100%);
    }
    .button-adv {
        background-image:-webkit-linear-gradient(right,#b18ee8 0%, #cf9af4 100%);
    }
    .button-motion {
        background-image:-webkit-linear-gradient(right,#e07a75 0%, #efab8f 100%);
    }
    .button-web {
        background-image:-webkit-linear-gradient(right, #c65d7e 0%, #e27999 100%);
    }
    .button-illustrations {
        background-image:-webkit-linear-gradient(right, #6b75d6 0%, #7699dd 100%);
    }

    .button-default:hover, .button-logos:hover, .button-adv:hover, .button-motion:hover, .button-web:hover, .button-illustrations:hover {
        background-position: right;
        transform: translateY(-10px);
        box-shadow: 0px 10px 0px black;
        color: #161616;
        transition: .15s ease-out;
    }

    #arrow-up-1,
    #arrow-up-2,
    #arrow-up-3,
    #arrow-up-4,
    #arrow-up-5,
    #arrow-up-6 {
        display: none;
        margin: auto;
        width: 25px;
    }

    #card-preview-logos,
    #card-preview-illustration,
    #card-preview-animation,
    #card-preview-package,
    #card-preview-video,
    #card-preview-fun {
        display: none;
    }

    .card-preview {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 20px 30px 20px;
    }

    .cards-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }

    .card {
        border-radius: 1.7em 1.7em 1.5em 1.5em;
        flex-basis: calc(50% - 5px);
        background: #fff;
        flex: 1;
    }

    .card__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }

    .card__content h3 {
        color: #161616;
    }

    .card-image {
        height: 170px;
        background-position: center center;
        background-size: 110%;
        border-radius: 1.5em 1.5em 0 0;
        background-repeat: no-repeat;
    }

    /* LOGOS */
    .idaho-helicopters {
        background-image: url(/images/idaho-helicopters1.jpg);
        transition: 100ms ease-in-out;

    }

    .idaho-helicopters:hover {
        background-image: url(/images/idaho-helicopters1.gif);
        filter: brightness(1);
    }

    .daily-quiz-pro {
        background-image: url(/images/daily-quiz-pro.jpg);
        transition: 100ms ease-in-out;
    }

    .daily-quiz-pro:hover {
        background-image: url(/images/daily-quiz-pro.gif);
        filter: brightness(1);
    }

    .liverez {
        background-image: url(/images/liverez.jpg);
        background-color:#b1dfec;
        transition: 100ms ease-in-out;
    }

    .liverez:hover {
        background-image: url(/images/liverez.gif);
        filter: brightness(1);
    }

    .watchdog-security {
        background-image: url(/images/watchdog-security.jpg);
        transition: 100ms ease-in-out;
    }

    .watchdog-security:hover {
        background-image: url(/images/watchdog-security.gif);
        filter: brightness(1);
    }

    /* ILLUSTRATIONS */
    .liverez-backgrounds {
        background-image: url(/images/liverez-backgrounds.jpg);
        transition: 100ms ease-in-out;
    }

    .liverez-backgrounds:hover {
        background-image: url(/images/liverez-backgrounds.gif);
        filter: brightness(1);
    }

    .liverez-xmas {
        background-image: url(/images/liverez-xmas.jpg);
        transition: 100ms ease-in-out;
    }

    .liverez-xmas:hover {
        background-image: url(/images/liverez-xmas.gif);
        filter: brightness(1);
    }

    .reanimator {
        background-image: url(/images/reanimator.jpg);
        transition: 100ms ease-in-out;
    }

    .reanimator:hover {
        background-image: url(/images/reanimator.gif);
        filter: brightness(1);
    }


    /* ANIMATIONS */
    .lr-animation {
        background-image: url(/images/lr-animation.jpg);
        transition: 100ms ease-in-out;
    }

    .lr-animation:hover {
        background-image: url(/images/lr-animation.gif);
        filter: brightness(1);
    }

    .starbucks {
        background-image: url(/images/starbucks.jpg);
        transition: 100ms ease-in-out;
    }

    .starbucks:hover {
        background-image: url(/images/starbucks.gif);
        filter: brightness(1);
    }

    /* ADVERTISING */
    .honey-maid {
        background-image: url(/images/honey-maid.jpg);
        transition: 100ms ease-in-out;
    }
    .honey-maid:hover {
        background-image: url(/images/honey-maid.gif);
        filter: brightness(1);
    }

    .common-good {
        background-image: url(/images/common-good.jpg);
        transition: 100ms ease-in-out;
    }

    .common-good:hover {
        background-image: url(/images/common-good.gif);
        filter: brightness(1);
    }

    /* VIDEO EDITING */
    .lr-testimonial {
        background-image: url(/images/lr-testimonial.jpg);
        transition: 100ms ease-in-out;
    }

    .lr-testimonial:hover {
        background-image: url(/images/lr-testimonials.gif);
        filter: brightness(1);
    }

    .lr-demo {
        background-image: url(/images/lr-demo.jpg);
        transition: 100ms ease-in-out;
    }

    .lr-demo:hover {
        background-image: url(/images/lr-demo.gif);
        filter: brightness(1);
    }


    /* FUN STUFF */
    .reanimator {
        background-image: url(/images/reanimator.jpg);
        transition: 100ms ease-in-out;
    }

    .reanimator:hover {
        background-image: url(/images/reanimator.gif);
        filter: brightness(1);
    }

    .inktober {
        background-image: url(/images/inktober.jpg);
        transition: 100ms ease-in-out;
    }

    .inktober:hover {
        background-image: url(/images/inktober.gif);
        filter: brightness(1);
    }

    .lr-icons {
        background-image: url(/images/lr-icons.jpg);
        transition: 100ms ease-in-out;
    }

    .lr-icons:hover {
        background-image: url(/images/lr-icons.gif);
        filter: brightness(1);
    }

    /* Maybe use this somewhere? filter: blur(5px); */

    /* Post Content */
    .post-full {
        width: 100%;
        margin: 0em 0em 3em 0em;
    }

    .image-full {
        width: 100%;
        height: auto;
        margin: 0em 0em 3em 0em;
        border-radius: .5em;
        box-shadow: black 0px 5px 5px;
        background: #;
    }

    .post-half {
        margin: 0em 0em 3em 0em;
        padding: 0 1em 0 1em;
        width: 50%;
    }

    .image-half {
        width: 50%;
        margin: 0em 0em 3em 0em;
        height: auto;
        border-radius: .5em;
        box-shadow: black 0px 5px 5px;
        background: #2f2f2f;
    }

    /* FOOTER */
    footer {
        position: relative;
        overflow: hidden;
        background: #1f1f1f;
        padding: 10px;
        /* background-image:radial-gradient(circle at 50% -80%, rgba(0, 0, 0, 0) 38%, #2f2f2f 58%);
        z-index: 3;
        Bottom Curve Shape */
    }

    .footer-content {
        display: flex;
        flex-flow: column;
    }

    #scrolltop {
        transition: .5s ease-in-out;

    }

    .footer-logo {
        background-image: url(/images/icon-inv.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: sticky;
        z-index: 1;
        bottom: -130px;
        width: 100%;
        height: 200px;
        transition: 200ms ease-in-out;
        margin: 20px 0px;
    }

    .footer-logo:active {
        bottom: -40px;
    }

    .footer-content-1,
    .footer-content-2 {
        list-style: none;
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        padding: 10px 10px;
    }

    .footer-items {
        display: block;
        position: relative;
        font-weight: 800;
        font-size: 1.25em;
        color: grey !important;
        transition: 150ms ease-in-out;
        text-decoration: none;
    }

    .footer-icon {
        float: left;
        width: 15px;
        height: 23px;
        margin: 3px 10px;
    }

    .footer-items:hover {
        background-position: right;
    }

    #copyright {
        text-align: center;
        margin: 20px 0px;
    }

    @media only screen and (min-width: 500px) {
        .card {
            flex: 0;
            flex-basis: calc(50% - 8px);
        }
        
    }

    @media only screen and (min-width: 900px) {
        .flex-big-container {
            display: block;
        }
        ::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        .menu-item {
            text-align: left;
            padding:0 0 .4em 0;
            border-bottom:none;
        }

        .content-container {
            display: inline-block;
            flex-flow: unset;
            margin-top: 0 !important;
        }

        .profile-container {
            margin: 0 50px 0 0;
            flex-grow: 1;
            float: left;
            width: auto;
        }

        #bio {
            width: auto;
            height: 320px;
            justify-content: center;
        }

        .icon {
            display: none;
        }

        .menu-links {
            display:flex !important;
            flex-grow: 2;
            margin-top:0 !important;
            z-index: 2;
        }

        .link-container {
            flex-flow: row nowrap;
            justify-content: unset;
            margin: auto;
        }

        .social-link {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 1em;
        }

        .social-link div {
            width: 50px;
            height: 50px !important;
            background-size: contain !important;
            margin: 0 !important;
        }

        .social-link h3 {
            font-size: 1.1em !important;
            color: #c2e088;
            padding: .5em;
        }

        .social-link:hover h3 {
            color: white;
        }

        .table-cell {
            padding: 0 2em;
        }

        .footer-logo:hover {
            bottom: -40px;
        }

        .footer-logo:visited {
            bottom: -120px;
        }

        .footer-logo:active {
            bottom: -60px;
            filter: drop-shadow(0px 10px 30px black);
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 100px 60px 100px;
            justify-content: center;
        }

        .footer-content-1,
        .footer-content-2,
        .footer-content-3 {
            width: 140px;
            text-align: center;
        }

        #copyright {
            flex-basis: 100%;
            height: 0;
        }

        .nav-card div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .nav-card h2 {
            padding: 0 10px;
        }

        .nav-card img {
            flex-basis: 12%;
            height: 15px !important;
        }

        .hero-image {
            border-radius: 1.5em;
            padding: 30px;
            margin-top: 10px;
        }

        .hero-image h1 {
            bottom: 40px;
        }

        .hero-lr-animation {
            margin-top: 10px;
            height: 400px;
        }

        .hero-lr-animation h1 {
            padding: 0 30px;
            bottom: 40px;
            position: absolute;
        }

        .hero-lr-animation video {
            width: 500px;
            height: 100%;
            margin: auto;
            display: block;
        }

        .breadcrumb {
            margin: 10px 0px !important;
        }

        .one-column,
        .two-column {
            padding: 1.5em 0;
        }

        .two-column {
            align-items: center;
        }

        .img-hover {
            height: 300px;
        }

        .lightbox span {
            height: 80vh;
        }

        .bottom-nav {
            padding: 2em 0 1em 0;
        }

        .bottom-nav h2 {
            margin: 1em 0;
        }

        .bottom-nav .link-container {
            width: 80%;
            margin: auto;
        }
        .page-container {
            
            display: flex;
            flex-flow: row nowrap;
            width:850px;
            margin:auto;
        }

        .nav-container {
            width:140px;
        }

    }

    @media only screen and (min-width: 1300px) {

        .card-image {
            height:300px;
        }

        .social-link div {
            width: 85px !important;
            height: 70px !important;
        }

        .button {
            width: 300px;
        }

        .card__content .button {
            margin: 20px auto;
        }

        .card__content h3 {
            text-align: center;
        }

        .img-hover {
            height: 400px;
        }

        .bottom-nav .link-container {
            justify-content: center;
        }

        .link-container .nav-card {
            flex-basis: 15%;
        }

        .hero-image {
            border-radius: 1.5em;
            padding: 30px;
            margin-top: 10px;
        }

        .hero-image h1 {
            bottom: 40px;
        }

        .hero-lr-animation {
            margin-top: 10px;
            height: 450px;
        }

        .lightbox span {
            width: 60%;
            background-size: contain;
            background-color: #1f1f1f;
            border: 1px solid #2f2f2f;
        }

        .img-full-hover {
            height: 700px;
            background-color: #1f1f1f !important;
            border: 1px solid #2f2f2f;
        }

        .one-column video {
            height: 515px;
        }

        .page-container {
            width:1100px;
            margin:auto;
        }

        .nav-container {
            width:170px;
        }
    }